# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @codeway/codeway will be requested for review when someone
# opens a pull request.

# Default
*                                   @matt-koson @daman-singh @candace-cox @brent-merrick
